//颜色定义规范
$color-text=#000
$color-text-grey=#b2b2b2
$color-text-red=#f16e7c
$color-text-white=#fff


//背景
$color-bg-all=#eee
$color-bg-item=#fff
$color-bg-title=#f14e61
$color-bg-pink=#fef1f3
$color-bg-pop=rgba(0,0,0,0.5)


//字体大小
